table.aligncenter {
    margin-left: auto; 
    margin-right: auto;
}
h2 {
    background-color: black;
    color: white;
    font-weight: bold;
    margin-top: 0 !important;
    margin-bottom: 1pt;
    padding-bottom: 2pt;
    padding-top: 2pt;
    text-align: center;
    /*font-family: courier;*/
}
th {
    background-color: lightgrey;
    color: black;
    /*font-family: arialnarrow;*/
}
tbody {
    display: table-row-group;
}
body {
    /*font-family: arialnarrow;*/
    font-size: 7pt;
    background-color: transparent;
    background: transparent;
}
.front-page-header {
    /*font-family: arialnarrow;*/
}
.front-page-content {
    /*font-family: arialnarrow;*/
}
p {
    margin-bottom: 1pt;
    margin-top: 0pt;
    padding-bottom: 1pt;
    padding-top: 0pt;
}
.meeting-data-td {
    border-bottom: 1px solid #555;
}
div {
    margin-bottom: 0pt;
    margin-top: 0pt;
    padding-bottom: 0pt;
    padding-top: 0pt;
}
table {
    border-collapse: collapse;
    /*font-family: arialnarrow;*/
    /* font-size: 7pt; */
    
    margin-bottom: 0pt;
    margin-top: 0pt;
}
.helplines td {
    /*font-family: arialnarrow !important;
    font-family: arialnarrow;*/
    font-size: 7pt;
    margin-bottom: 1pt;
    margin-top: 0pt;
}
thead {
    display: table-header-group;
    font-size: 10pt;
    font-weight: bold;
    vertical-align: bottom;
}
tfoot {
    font-weight: bold;
    vertical-align: top;
}
thead td {
    font-weight: bold;
}
tfoot td {
    font-weight: bold;
}
thead td,
thead th,
tfoot td,
tfoot th {
    font-variant: small-caps;
}
.headerrow td,
.headerrow th {
    background-gradient: linear #b7cebd #f5f8f5 0 1 0 0.2;
}
.footerrow td,
.footerrow th {
    background-gradient: linear #b7cebd #f5f8f5 0 1 0 0.2;
}
th p {
    margin: 0pt;
    text-align: left;
}
td p {
    margin: 0pt;
    text-align: left;
}
hr {
    color: #999;
    height: 1px;
    margin-bottom: 1pt;
    margin-top: 1pt;
    width: 100%;
}
a {
    color: #000066;
    font-style: normal;
    font-weight: normal;
    text-decoration: underline;
}
ul {
    line-height: 2.5em !important;
    margin-bottom: 2em !important;
    text-indent: 5mm;
}
ol {
    line-height: 1em !important;
    margin-bottom: 0em !important;
    text-indent: 0mm;
}
li {
    margin-bottom: .5em !important;
}
pre {
    /*font-family: DejaVuSansMono;*/
    font-size: 9pt;
    margin-bottom: 5pt;
    margin-top: 5pt;
}
h1 {
    border-bottom: 0.075cm solid #000000;
    border-top: 0.075cm solid #000000;
    color: #000066;
    /*font-family: DejaVuSansCondensed;*/
    font-size: 26pt;
    font-weight: normal;
    margin-bottom: 6pt;
    margin-top: 18pt;
    page-break-after: avoid;
}
h3 {
    border-bottom: 0;
    border-top: 0;
    color: #000000;
    /*font-family: DejaVuSansCondensed;*/
    font-size: 26pt;
    font-weight: normal;
    margin-bottom: 6pt;
    margin-top: 0pt;
    page-break-after: avoid;
}
h4 {
    color: #9f2b1e;
    /*font-family: DejaVuSansCondensed;*/
    font-size: 13pt;
    font-variant: small-caps;
    margin-bottom: 7pt;
    margin-collapse: collapse;
    margin-top: 10pt;
    page-break-after: avoid;
}
h5 {
    color: #000044;
    /*font-family: DejaVuSansCondensed;*/
    font-size: 11pt;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 4pt;
    margin-top: 8pt;
    page-break-after: avoid;
}
h6 {
    color: #333333;
    /*font-family: DejaVuSansCondensed;*/
    font-size: 9.5pt;
    font-weight: bold;
    margin-top: 6pt;
    page-break-after: avoid;
}
.breadcrumb {
    color: #666666;
    /*font-family: DejaVuSerifCondensed;*/
    font-size: 8pt;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 6pt;
    text-align: right;
}
.evenrow td,
.evenrow th {
    background-color: #f5f8f5;
}
.oddrow td,
.oddrow th {
    background-color: #e3ece4;
}
.bpmTopic {
    background-color: #e3ece4;
}
.bpmTopicC {
    background-color: #e3ece4;
}
.bpmNoLines {
    background-color: #e3ece4;
}
.bpmNoLinesC {
    background-color: #e3ece4;
}
.bpmClear {}.bpmClearC {
    text-align: center;
}
.bpmTopnTail {
    background-color: #e3ece4;
    topntail: 0.02cm solid #495b4a;
}
.bpmTopnTailC {
    background-color: #e3ece4;
    topntail: 0.02cm solid #495b4a;
}
.bpmTopnTailClear {
    topntail: 0.02cm solid #495b4a;
}
.bpmTopnTailClearC {
    topntail: 0.02cm solid #495b4a;
}
.bpmTopicC td,
.bpmTopicC td p {
    text-align: center;
}
.bpmNoLinesC td,
.bpmNoLinesC td p {
    text-align: center;
}
.bpmClearC td,
.bpmClearC td p {
    text-align: center;
}
.bpmTopnTailC td,
.bpmTopnTailC td p {
    text-align: center;
}
.bpmTopnTailClearC td,
.bpmTopnTailClearC td p {
    text-align: center;
}
.pmhMiddleCenter {
    text-align: center;
    vertical-align: middle;
}
.pmhMiddleRight {
    text-align: right;
    vertical-align: middle;
}
.pmhBottomCenter {
    text-align: center;
    vertical-align: bottom;
}
.pmhBottomRight {
    text-align: right;
    vertical-align: bottom;
}
.pmhTopCenter {
    text-align: center;
    vertical-align: top;
}
.pmhTopRight {
    text-align: right;
    vertical-align: top;
}
.pmhTopLeft {
    text-align: left;
    vertical-align: top;
}
.pmhBottomLeft {
    text-align: left;
    vertical-align: bottom;
}
.pmhMiddleLeft {
    text-align: left;
    vertical-align: middle;
}
.infobox {
    background-color: #DDDDBB;
    border: 1px solid #880000;
    margin-top: 10pt;
    text-align: center;
}
.bpmTopic td,
.bpmTopic th {
    border-top: 1px solid #FFFFFF;
}
.bpmTopicC td,
.bpmTopicC th {
    border-top: 1px solid #FFFFFF;
}
.bpmTopnTail td,
.bpmTopnTail th {
    border-top: 1px solid #FFFFFF;
}
.bpmTopnTailC td,
.bpmTopnTailC th {
    border-top: 1px solid #FFFFFF;
}
p .aligncenter img,
.aligncenter,
div.aligncenter {
    text-align: center;
}
img.alignright {
    display: inline;
    margin: 0 0 2px 7px;
    padding: 4px;
}
img.alignleft {
    display: inline;
    margin: 0 7px 2px 0;
    padding: 4px;
}
.alignright {
    float: right;
}
.alignleft {
    float: left;
}
div.mpdf_toc {
    /*font-family: sans;*/
    font-size: 10pt;
}
a.mpdf_toc_a {
    color: black;
    text-decoration: none;
}
div.mpdf_toc_level_0 {
    line-height: 1.5;
    margin-left: 0;
    padding-right: 0;
}
span.mpdf_toc_t_level_0 {
    font-weight: bold;
}
span.mpdf_toc_p_level_0 {}div.mpdf_toc_level_1 {
    margin-left: 2em;
    padding-right: 0;
    text-indent: -2em;
}
span.mpdf_toc_t_level_1 {
    font-style: normal;
    font-weight: normal;
}
span.mpdf_toc_p_level_1 {}div.mpdf_toc_level_2 {
    margin-left: 4em;
    padding-right: 0;
    text-indent: -2em;
}
span.mpdf_toc_t_level_2 {}span.mpdf_toc_p_level_2 {}div.mpdf_toc_level_2 {
    line-height: 1.5;
    margin-left: 0;
    padding-right: 0;
}
span.mpdf_toc_t_level_2 {
    font-weight: normal;
}
span.mpdf_toc_p_level_2 {}