version: '3.1'

services:
  wordpress:
    image: wordpress:4.9.1-php5.6-apache
    restart: always
    ports:
      - 8080:80
    environment:
      WORDPRESS_DB_PASSWORD: example
    volumes:
      - ../:/var/www/html/wp-content/plugins

  mysql:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: example