@font-face {
    font-family:'DejaVuSansCondensed';
    src:url(../../../vendor/mpdf/mpdf/ttfonts/DejaVuSansCondensed.ttf) format('truetype');
    font-display: block;
}
@font-face {
    font-family:'DejaVuSansCondensed';
    src:url(../../../vendor/mpdf/mpdf/ttfonts/DejaVuSansCondensed-Bold.ttf) format('truetype');
    font-display: block;
    font-weight: bold;
}
@font-face {
    font-family:'DejaVuSansCondensed';
    src:url(../../../vendor/mpdf/mpdf/ttfonts/DejaVuSansCondensed-BoldOblique.ttf) format('truetype');
    font-display: block;
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family:'DejaVuSansCondensed';
    src:url(../../../vendor/mpdf/mpdf/ttfonts/DejaVuSansCondensed-Oblique.ttf) format('truetype');
    font-display: block;
    font-style: italic;
}